<%- include('../partials/header'); %>

		<div id="contact" class="infoSection hidden">
			<h2 class="infoSectionTitle">Contact</h2>
			<address id="address">
				<span style="display: none;">
					Brian Morris<br>
					<a href="https://goo.gl/maps/Cf6GVy2AGyNcvYT7A" title="View Halton Hills in Google Maps">
						Halton Hills, ON
					</a><br>
				</span>
				<a href="tel:9056996466" title="Call Brian">(905) 699-6466</a><br>
				<a href="mailto:contact@brianmorris.info" title="Email Brian">contact@brianmorris.info</a>
			</address>
		</div>
		
		<div id="resume" class="infoSection hidden">
			<h2 class="infoSectionTitle">Resume</h2>
			<a href="/PDF" target="_BLANK" title="View Brian's Resume as PDF">View as PDF</a><br>
			<a href="/JSON" target="_BLANK" title="View Brian's Resume as JSON">View as JSON</a>
		</div>
		
		<div id="education" class="infoSection hidden">
			<h2 class="infoSectionTitle">Education</h2>
			<div class="infoItem">
				<div class="infoItemTitle">
					Bachelor of Computer Science
				</div>
				<div class="infoItemDetails">
					Algoma University<br>
					Sault Ste. Marie, ON<br>
					2018 - 2019<br>
					Award of Excellence in Computer Science
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
					Systems Analyst Co-op Advanced Diploma
				</div>
				<div class="infoItemDetails">
					Sheridan College<br>
					Brampton, ON<br>
					2014 - 2018<br>
					Capstone Competition Finalist
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
					Ontario Secondary School Diploma
				</div>
				<div class="infoItemDetails">
					Acton District High School<br>
					Acton, ON<br>
					2010 - 2014<br>
					Ontario Scholar
				</div>
			</div>
		</div>
		
		<div id="experience" class="infoSection hidden">
			<h2 class="infoSectionTitle">Experience</h2>
			<div class="infoItem">
				<div class="infoItemTitle">
					Computer Science Teaching Assistant
				</div>
				<div class="infoItemDetails">
					Algoma University<br>
					Sault Ste. Marie, ON<br>
					January 2019 - April 2019<br>
					<ul>
						<li>Courses: Java 2 and Data Structures 2</li>
						<li>Fostered student growth, inspiration & leadership</li>
						<li>Applied responsible time management in a lenient work environment</li>
						<li>Developed solutions to improve faculty workflow efficiency</li>
						<li>Lab instruction, student support, assignment marking & exam proctoring</li>
					</ul>
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
						PHP/Firebase Consultant & Developer
				</div>
				<div class="infoItemDetails">
					Soo Food Finder<br>
					Sault Ste. Marie, ON<br>
					September 2018 - November 2018<br>
					<ul>
						<li>Implemented a dynamic content management interface for a restructured key-value Firebase database</li>
						<li>Significantly improved administrators’ ability to address food justice and food access in Sault Ste. Marie</li>
					</ul>
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
					SharePoint Consultant & Developer
				</div>
				<div class="infoItemDetails">
					Meridian Credit Union<br>
					Toronto, ON<br>
					September 2, 2017 - December 2017<br>
					<ul>
						<li>Designed and implemented a Learning Management System within Meridian’s intranet</li>
						<li>Enabled every employee to pursue self learning</li>
						<li>Implemented with 2 sites, few lists/libraries, CSS, JavaScript and SharePoint’s Client-Side Object Model</li>
						<li>Clean, intuitive design for end users and content management including featured and popular content</li>
					</ul>
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
					Junior Programmer Analyst Co-op
				</div>
				<div class="infoItemDetails">
					Meridian Credit Union<br>
					Toronto, ON<br>
					May 8, 2017 - September 1, 2017<br>
					August 29, 2016 - January 6, 2017<br>
					January 4, 2016 - May 9, 2016<br>
					<ul>
						<li>SharePoint administration and development</li>
						<li>Set up SharePoint Team Sites and assisted in training for 30+ site owners from a variety of departments</li>
						<li>Created custom site collection branding, timer jobs, event receivers, workflows and InfoPath forms</li>
						<li>Heightened data security, teamwork in a programming environment</li>
					</ul>
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
					Summer Student
				</div>
				<div class="infoItemDetails">
					Fiat Chrysler Automobiles Canada<br>
					Brampton, ON<br>
					May 2015 - August 2015<br>
					May 2014 - August 2014<br>
					<ul>
						<li>Exceptional work ethics, acute time management and teamwork</li>
					</ul>
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
					Landscaper
				</div>
				<div class="infoItemDetails">
					Landscaping Services<br>
					Halton Hills, ON<br>
					May 2015 - June 2015<br>
					<ul>
						<li>Effective communication skills, constant customer relations, efficiency</li>
					</ul>
				</div>
			</div>
		</div>
	
		<div id="involvement" class="infoSection hidden">
			<h2 class="infoSectionTitle">Involvement</h2>
			<div class="infoItem">
				<div class="infoItemTitle">
					Acton Citizens' Band
				</div>
				<div class="infoItemDetails">
					Webmaster & Percussionist<br>
					September 2005 - Present<br>
					<ul>
						<li>Webmaster, committee member, percussion, trumpet, clarinet</li>
						<li>Performing in concerts and parades for charities and community benefits</li>
					</ul>
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
					Algoma University Computer Science Club
				</div>
				<div class="infoItemDetails">
					Vice President<br>
					September 2018 - April 2019<br>
					<ul>
						<li>Encouraged interest, growth and enthusiasm in computer science and related fields</li>
						<li>Planning, fundraising, organizing and hosting events</li>
					</ul>
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
					Acton Junior Band
				</div>
				<div class="infoItemDetails">
					Mentor<br>
					September 2014 - May 2016<br>
					<ul>
						<li>Developed leadership and skills in music</li>
					</ul>
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
					DementiaHack Toronto
				</div>
				<div class="infoItemDetails">
					Participant<br>
					November 7, 2015 - November 9, 2015<br>
					<ul>
						<li>Assisted Dementia research through prototyping competition</li>
						<li>Fast-paced teamwork and software/hardware experience</li>
					</ul>
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
					Community Clean Up: Prospect Park
				</div>
				<div class="infoItemDetails">
					Assistant Organizer<br>
					October 3, 2015<br>
					<ul>
						<li>Event coordination, project management</li>
						<li>Dedicated environmental awareness</li>
					</ul>
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
					Acton Houseleague Hockey
				</div>
				<div class="infoItemDetails">
					Assistant Coach<br>
					September 2013 - March 2014<br>
					<ul>
						<li>Developed leadership and hockey skills in mature players</li>
					</ul>
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
					Big Brothers Big Sisters of Halton Hills
				</div>
				<div class="infoItemDetails">
					Mentor<br>
					October 2010 - May 2012<br>
					<ul>
						<li>Tutored and taught basic STEM and study skills</li>
					</ul>
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
					Cancer Assistance Services of Halton Hills
				</div>
				<div class="infoItemDetails">
					Participant<br>
					April 2007<br>
					April 2008<br>
					<ul>
						<li>Raised awareness, marketing distribution, promotion</li>
					</ul>
				</div>
			</div>
		</div>
	
		<div id="skills" class="infoSection hidden">
			<h2 class="infoSectionTitle">Skills</h2>
			<div class="infoItem">
				<div class="infoItemTitle">
					Experienced
				</div>
				<div class="infoItemDetails">
					<ul>
						<li>C#, ASP.NET, Master Pages</li>
						<li>Java</li>
						<li>JavaScript, HTML, CSS, SCSS</li>
						<li>Leadership, Teamwork, Communication</li>
						<li>Object Oriented Programming and Design with UML</li>
						<li>PHP</li>
						<li>RESTful Web Services and APIs</li>
						<li>SharePoint, InfoPath</li>
						<li>SQL</li>
					</ul>
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
					Intermediate
				</div>
				<div class="infoItemDetails">
					<ul>
						<li>Assembly Language</li>
						<li>C++</li>
						<li>Cloud Web Hosting, Serverless Hosting, Firebase</li>
						<li>Git, TFS, SVN</li>
						<li>Hybrid Mobile Appications, Cordova</li>
						<li>Linux</li>
						<li>Node.js, EJS</li>
						<li>Software Development Life Cycle</li>
						<li>Systems Analysis, Project Management</li>
					</ul>
				</div>
			</div>
			<div class="infoItem">
				<div class="infoItemTitle">
					Fundamentals
				</div>
				<div class="infoItemDetails">
					<ul>
						<li>Access</li>
						<li>Android</li>
						<li>Artificial Intelligence, AI</li>
						<li>AWS, Azure, Cloud Computing</li>
						<li>Azure</li>
						<li>C</li>
						<li>Microsoft Report Builder, Microsoft SQL Report Builder</li>
						<li>Multithreading, Threading</li>
						<li>Swift, Objective-C, Objective C, iOS</li>
					</ul>
				</div>
			</div>
		</div>

<%- include('../partials/footer'); %>