@charset "UTF-8";
/* © Brian Morris 2022 | http://brianmorris.info */
@font-face {
  font-family: 'Montserrat';
  font-display: fallback;
  unicode-range: U+0-5A, U+61-7A;
  src: url("/style/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: fallback;
  unicode-range: U+0-5A, U+61-7A;
  src: url("/style/Montserrat/static/Montserrat-Light.ttf") format("truetype");
  font-weight: 100;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  color: #ECECEC;
}

address {
  font-style: normal;
}

a, a:active, a:link, a:visited {
  text-decoration: none;
  color: #ECECEC;
}

a.deactivated-link {
  pointer-events: none;
}

.fade-in-out {
  transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}

.hidden {
  opacity: 0 !important;
  display: none !important;
}

.profile {
  height: 0;
  width: 0;
  max-width: 200px;
  margin: 0;
  padding: 0;
  display: block;
}

#header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1vw;
  padding: 1%;
  width: 98vw;
  width: 98%;
  font-size: 3.5vw;
  background-image: linear-gradient(to bottom, #000000 0%, transparent 100%);
}

#header #header-info {
  z-index: 999;
  display: inline-block;
}

#header #header-info #header-title, #header #header-info #header-title-link {
  z-index: 999;
}

#header #header-info #header-title, #header #header-info #header-title h1, #header #header-info #header-location-info {
  margin: 0;
  line-height: 1;
  font-weight: lighter;
  transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}

#header #header-info #header-location-info {
  z-index: 997;
  padding-left: .2vw;
}

#header #header-nav {
  z-index: 997;
  position: absolute;
  right: 1vw;
  top: 0;
  display: none;
}

#header #header-nav .header-nav-item {
  z-index: 997;
  display: inline-block;
  margin: 1vw;
  cursor: pointer;
}

#header #header-nav .header-nav-item.active {
  border-bottom: 1px solid #ECECEC;
}

#header #header-nav .header-nav-item:hover {
  border-bottom: 1px solid #AAAAAA;
}

#header #mobile-menu-button {
  z-index: 997;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1vw;
  height: 9vw;
  width: 15vw;
  margin: 1vw 2vw;
}

#header #mobile-menu-button #mobile-menu-button-svg {
  width: 100%;
  height: 100%;
}

#header #mobile-menu-button #mobile-menu-button-svg .mobile-menu-button-rect {
  fill: #ececec;
  stroke: #ececec;
  stroke-miterlimit: 10;
}

#content {
  z-index: 996;
  position: fixed;
  top: 13.5vw;
  bottom: 15%;
  left: 0;
  right: 0;
  padding: 2vw;
  text-align: left;
  overflow-x: scroll;
  border-top: 1px solid #353535;
  border-bottom: 1px solid #353535;
}

#content #menu {
  display: flex;
  flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  min-height: 100%;
}

#content #menu .flex-item {
  display: inline-block;
  flex-basis: auto;
  font-size: 5vw;
  padding: 1.5vw;
  margin: 3vw;
  text-align: center;
  color: #ececec;
  font-weight: bold;
  border: 1px solid #818181;
  background-color: rgba(0, 0, 0, 0.5);
}

#content #contact .flex-item,
#content #resume .flex-item {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 5vw;
  padding: 1.5vw;
}

#content .info-section {
  opacity: 1;
  vertical-align: top;
  height: 100%;
}

#content .info-section .info-section-title {
  display: none;
  margin: 10px 0;
}

#content .info-section .flex-container {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  min-height: 100%;
}

#content .info-section .flex-item {
  padding: 4vw;
  margin: 4vw;
  color: #ececec;
  border: 1px solid #818181;
  background-color: rgba(0, 0, 0, 0.5);
}

#content .info-section .flex-item .info-item-title {
  font-weight: bolder;
  font-size: 1.2rem;
}

#content .info-section .flex-item .info-item-details {
  padding: 1vw;
}

#content .info-section .flex-item .info-item-details .info-item-highlights {
  font-weight: bold;
}

#content .info-section .flex-item .info-item-details .info-item-highlights li {
  margin-bottom: 0.5rem;
}

#footer {
  z-index: 997;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15vh;
  height: 15%;
  text-align: center;
}

#footer .social-link {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 20%;
}

#footer .social-link .social-link-logo {
  max-height: 50%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: none;
}

#overlay {
  z-index: 998;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
}
