        </main>
        
        <footer id="footer" class="fade-in-out">
            <a class="social-link" href="https://github.com/brianjmorris" 
             target="_BLANK" title="Visit Brian's GitHub">
                <img class="social-link-logo" src="/img/logo/GitHub.svg" 
                 alt="GitHub" />
            </a>
            <a class="social-link" 
             href="https://www.linkedin.com/in/brianjohnmorris/" 
             target="_BLANK" title="Visit Brian's LinkedIn">
                <img class="social-link-logo" src="/img/logo/LinkedIn.svg" 
                 alt="LinkedIn" />
            </a>
            <a class="social-link" href="https://instagram.com/brianjmorris" 
             target="_BLANK" title="Visit Brian's Instagram">
                <img class="social-link-logo" src="/img/logo/Instagram.svg" 
                 alt="Instagram" />
            </a>
            <a class="social-link" href="https://twitter.com/_brianjmorris" 
             target="_BLANK" title="Visit Brian's Twitter">
                <img class="social-link-logo" src="/img/logo/Twitter.svg" 
                 alt="Twitter" />
            </a>
        </footer>
        
        <div id="overlay"></div>
        <div id="lines" class="full-screen"></div>
        <canvas id="stars" class="full-screen" width="100%" height="100%" alt=""></canvas>
        <div id="trees" class="full-screen"></div>
        <div id="shadow" class="full-screen"></div>
        
    </body>
</html>