            
            </div>
            <div id="footer">
                <a class="socialLink" href="https://github.com/brianjmorris" target="_BLANK" title="Visit Brian's GitHub">
                    <img class="socialLinkLogo" src="/img/logo/GitHub.svg" alt="GitHub Logo" />
                </a>
                <a class="socialLink" href="https://www.linkedin.com/in/brianjohnmorris/" target="_BLANK" title="Visit Brian's LinkedIn">
                    <img class="socialLinkLogo" src="/img/logo/LinkedIn.svg" alt="LinkedIn Logo" />
                </a>
                <a class="socialLink" href="https://instagram.com/brianjmorris" target="_BLANK" title="Visit Brian's Instagram">
                    <img class="socialLinkLogo" src="/img/logo/Instagram.svg" alt="Instagram Logo" />
                </a>
                <a class="socialLink" href="https://twitter.com/_brianjmorris" target="_BLANK" title="Visit Brian's Twitter">
                    <img class="socialLinkLogo" src="/img/logo/Twitter.svg" alt="Twitter Logo" />
                </a>
            </div>
        </div>
    </body>
</html>