        </main>
        
        <footer id="footer" class="fadeInOut">
            <a class="socialLink" href="https://github.com/brianjmorris" 
             target="_BLANK" title="Visit Brian's GitHub">
                <img class="socialLinkLogo" src="/img/logo/GitHub.svg" 
                 alt="GitHub " />
            </a>
            <a class="socialLink" 
             href="https://www.linkedin.com/in/brianjohnmorris/" 
             target="_BLANK" title="Visit Brian's LinkedIn">
                <img class="socialLinkLogo" src="/img/logo/LinkedIn.svg" 
                 alt="LinkedIn " />
            </a>
            <a class="socialLink" href="https://instagram.com/brianjmorris" 
             target="_BLANK" title="Visit Brian's Instagram">
                <img class="socialLinkLogo" src="/img/logo/Instagram.svg" 
                 alt="Instagram " />
            </a>
            <a class="socialLink" href="https://twitter.com/_brianjmorris" 
             target="_BLANK" title="Visit Brian's Twitter">
                <img class="socialLinkLogo" src="/img/logo/Twitter.svg" 
                 alt="Twitter " />
            </a>
        </footer>
        
        <div id="lines" class="fullScreen"></div>
        <canvas id="stars" class="fullScreen" width="100%" height="100%"></canvas>
        <div id="trees" class="fullScreen"></div>
        <div id="shadow" class="fullScreen"></div>
        
    </body>
</html>