<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Brian Morris</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Systems Analyst, Software Engineer, 
            Web Developer, Hockey Player & Percussionist">
    <meta name="keywords" content="Brian, Morris, Systems, Analyst, 
            Software, Engineer, Developer, Programmer, Web, Halton, Ontario, ON">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Brian Morris">
    <meta name="creator" content="Brian Morris">
    <meta name="publisher" content="Brian Morris">
    <meta name="DC.title" content="Acton, ON" />
    <meta name="geo.region" content="CA-ON" />
    <meta name="geo.placename" content="Acton" />
    <meta name="geo.position" content="43.634068;-80.035112" />
    <meta name="ICBM" content="43.634068, -80.035112" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-35708086-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-35708086-2');
    </script>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Brian Morris",
            "url": "https://brianmorris.info",
            "email": "contact@brianmorris.info"
        }
    </script>

    <script src="js/merged.min.js"></script>

    <link rel="stylesheet" type="text/css" href="style/merged.min.css" />
    <link rel="shortcut icon" type="image/icon" href="img/b.ico" defer />
</head>

<body>
    <picture class="profile">
        <source srcset="/img/WebP/Brian-Morris.webp" type="image/webp" style="max-width: 200px;">
        <img class="profile" src="/img/Brian-Morris.jpg" alt="Brian's Profile" title="Brian Morris" style="max-width: 200px;" />
    </picture>

    <header id="header" class="fadeInOut">
        <div id="headerInfo">
            <h1 id="headerTitle">
                <a id="headerTitleLink" href="#stars" title="Just The Stars">Brian Morris</a>
            </h1>
            <div id="headerLocationInfo" class="fadeInOut">
                <a href="https://goo.gl/maps/Cf6GVy2AGyNcvYT7A" target="_BLANK" title="View Halton Hills in Google Maps">
                    Halton Hills, ON
                </a>
            </div>
        </div>
        
        <nav id="mainMenu" class="fadeInOut">
            <a href="#contact" id="contactNavItem" class="headerNavItem" title="View Contact Info">Contact</a>
            <a href="#resume" id="resumeNavItem" class="headerNavItem" title="View Resume Info">Resume</a>
            <a href="#education" id="educationNavItem" class="headerNavItem" title="View Education Info">Education</a>
            <a href="#experience" id="experienceNavItem" class="headerNavItem" title="View Experience Info">Experience</a>
            <a href="#involvement" id="involvementNavItem" class="headerNavItem" title="View Involvement Info">Involvement</a>
            <a href="#skills" id="skillsNavItem" class="headerNavItem" title="View Skills Info">Skills</a>
        </nav>
    </header>

    <main id="content" class="fadeInOut">