<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Brian Morris</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Systems Analyst, Software Engineer, 
            Web Developer, Hockey Player & Percussionist">
    <meta name="keywords" content="Brian, Morris, Systems, Analyst, 
            Software, Engineer, Developer, Programmer, Web, Halton, Ontario, ON">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Brian Morris">
    <meta name="creator" content="Brian Morris">
    <meta name="publisher" content="Brian Morris">
    <meta name="DC.title" content="Acton, ON" />
    <meta name="geo.region" content="CA-ON" />
    <meta name="geo.placename" content="Acton" />
    <meta name="geo.position" content="43.634068;-80.035112" />
    <meta name="ICBM" content="43.634068, -80.035112" />

    <link rel="shortcut icon" type="image/icon" href="img/b.ico" />
    <link rel="stylesheet" type="text/css" href="style/main.css" />
    <link rel="stylesheet" type="text/css" href="style/stars.css" />

    <!-- https://necolas.github.io/normalize.css/ -->
    <link rel="stylesheet" type="text/css" href="style/normalize.css" />

    <script src="js/polyfills.js" defer></script>
    <script src="js/stars.js" defer></script>

    <!-- https://modernizr.com/ -->
    <script src="js/modernizr-custom.js"></script>

    <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Organization",
                "name": "Brian Morris",
                "url": "https://brianmorris.info",
                "email": "contact@brianmorris.info"
            }
        </script>
</head>

<body>
    <picture class="profile">
        <source srcset="/img/WebP/Brian-Morris.webp" type="image/webp">
        <img class="profile" src="/img/Brian-Morris.jpg" alt="Brian's Profile" title="Brian Morris" />
    </picture>
    <div id="background" class="fullScreen"></div>
    <div id="lines" class="fullScreen"></div>
    <canvas id="stars" class="fullScreen" width="100%" height="100%"></canvas>
    <div id="trees" class="fullScreen"></div>
    <div id="shadow" class="fullScreen"></div>

    <div id="pageContent">
        <div id="mainContent">